<% if @passenger.errors.any? %>
<ul class="errors">
  <% @passenger.errors.each do |field, message| %>
  <li>
    <strong><%= field.capitalize %>: </strong><%= message %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_with model: @passenger, class: 'passenger-form' do |f| %>
  <div>
    <%= f.label :name, "Passenger name:" %>
    <%= f.text_field :name %>
  </div> 

  <div>
    <%= f.label :phone_num, "Phone number:" %>
    <%= f.text_field :phone_num, placeholder: "(555) 555-5555" %>
  </div>

  <%= f.submit button_text %>
<% end %>