<%= form_with model: @book, class: 'book-form' do |f| %>
  <div>
    <%= f.label :name, "Passenger name:" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :phone_num, "Phone number:" %>
    <%= f.text_field :phone_num, placeholder: "(555) 555-5555" %>
  </div>

  <%= f.submit button_text %>
<% end %>