<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @driver, class: 'driver-form' do |f| %>
  <p>Please provide the following information about the driver:</p>
  <div>
    <%= f.label :name, "Driver Name:" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :vin, "Vin Number:" %>
    <%= f.text_field :vin %>
  </div>
  <div>
  
  <%= f.submit button_text %>
<% end %>
